/(19BTCS029HY).pdf
/0000000000001444.zip
/0000000000001553.zip
/0000000000002983.zip
/0000000000002984.zip
/0000000000003104.zip
/0000000000003107.zip
/0000000000003109.zip
/0000000000003110.zip
/0000000000003129.zip
/0000000000003130.zip
/0000000000003131.zip
/0000000000003132.zip
/0000000000003134.zip
/0000000000003139.zip
/0000000000003141.zip
/0000000000003145.zip
/0000000000003146.zip
/0000000000003148.zip
/0000000000003150.zip
/0000000000003154.zip
/0000000000003156.zip
/0000000000003157.zip
/0000000000003158.zip
/0000000000003166.zip
/0000000000003167.zip
/0000000000003169.zip
/0000000000003171 (1).zip
/0000000000003171.zip
/0000000000003174.zip
/0000000000003177.zip
/0000000000003180.zip
/0000000000003186.zip
/0000000000003187.zip
/0000000000003188.zip
/0000000000003192.zip
/0000000000003194.zip
/0000000000003195.zip
/0000000000003198.zip
/0000000000003199.zip
/0000000000003200.zip
/0000000000003211.zip
/0000000000003212.zip
/0000000000003213.zip
/0000000000003215.zip
/0000000000003216.zip
/0000000000003219.zip
/0000000000003274.zip
/0000000000003569.zip
/0000000000003570.zip
/0000000000003938.zip
/0000000000003939.zip
/0000000000003942.zip
/0000000000003943.zip
/0000000000003945.zip
/0000000000003946.zip
/0000000000003947.zip
/0000000000003948 (1).zip
/0000000000003948.zip
/0000000000004095.zip
/0000000000004097.zip
/0000000000004099.zip
/0000000000004101.zip
/0000000000009947s.zip
/09_op-amps.ppt
/1. ER Model & Relational Model (CSE).pdf
/1. Polynomials.pdf
/1. Processes and Threads (CSE).pdf
/1. Project report guidelines.docx
/10 MARK SOH.pdf
/12MARK SOH.pdf
/1341811660812357 (1).pdf
/19BTCS001HY_Java Lab Record 2020-21.docx
/19BTCS029HY AHMAD COI.pdf
/19BTCS029HY Ahmad Reza Flat.pdf
/19BTCS029HY AHMAD REZA.pdf
/19BTCS029HY DAA.pdf
/19BTCS029HY PPL.pdf
/19BTCS029HY(1) OB.pdf
/19BTCS029HY(2) hs it.pdf
/19BTCS029HY(AHMAD CD LAB RECORD).docx
/19BTCS029HY(AHMAD CD LAB RECORD).pdf
/1st List General.pdf
/2. Interprocess Communication, Concurrency & Synchronization (CSE).pdf
/2. Structured Query Language (CSE).pdf
/2.Tissue fINAL.pdf
/213680-removebg-preview.png
/271.pdf
/29 (1).pdf
/29 (2)-pdf nsp.jpg
/29 (2).pdf
/29.pdf
/3-DEC-ACK-ABS.docx
/3. Deadlock and CPU Scheduling (CSE).pdf
/3. Normalization (CSE).pdf
/3.Diversity of Livining Organism.pdf
/321ch2.ppt
/3rd-List-General-27-dec-2021.pdf
/4. Memory Management and Virtual Memory (CSE).pdf
/4. Silicon Diode Characteristics (1).pdf
/4. Silicon Diode Characteristics.pdf
/4. Transaction and Concurrency (CSE).pdf
/4kvideodownloader_4.18.1_x64_online.exe
/5. File Management (CSE).pdf
/5. File Systems, Input-Output Systems, Protection & Security (CSE).pdf
/50++ Most Important Java Questions (1).pdf
/50++ Most Important Java Questions.pdf
/53c7a6d74bd7a.pdf
/6-Introduction-sample chapter.doc
/6th sem result.pdf
/7-REFERENCES-PUBLICATIONS.doc
/8EM_MAT.pdf
/A DATE __ English Full Movie With Subtitles __ #Traveling __ #Bangalore __ #Respect.mp4
/Aarif Report Project.pdf
/Admission letter.pdf
/Admission letter1.pdf
/Admit card 6th sem.pdf
/Adobe Scan 16-Nov-2021.pdf
/AEC external theory exam.pdf
/AEC ppt.pdf
/AEC ppt.pptx
/aec presentaion with word.docx
/AEC Presentation Detail Report.pdf
/AEC Presentation(19BTCS037HY).pdf
/AEC Presentation.pptx
/AgreementLetter.jpg
/AHMAD 19BTCS029HY DAA.pdf
/AHMAD 29 DBMS LAB ASSIGNMENT 4.docx
/AHMAD 29 DBMS LAB ASSIGNMENT 5.docx
/AHMAD 29 java assignment 4.html
/AHMAD 29 java assignment 4_files
/Ahmad 29 math exam.pdf
/AHMAD 29..DBMS Lab Assignment 3.docx
/AHMAD 4 SEM FEESPAYMENT RECIEPT.pdf
/AHMAD 5TH SEM.pdf
/Ahmad Adhar card.pdf
/Ahmad CV (1).docx
/Ahmad CV (1).pdf
/Ahmad Documents.pdf
/AHMAD FARMER.pdf
/AHMAD FEESTR (1).pdf
/AHMAD FEESTR (2).pdf
/AHMAD FEESTR.pdf
/AHMAD NSP 2021.pdf
/Ahmad NSP 2022 (1).pdf
/Ahmad NSP 2022.pdf
/AHMAD NSP FEE 2021 hostel.pdf
/ahmad Report Project.docx
/ahmad Report Project.pdf
/AHMAD REZA ROLL 29 OB (1).pdf
/AHMAD REZA ROLL 29 OB.pdf
/Ahmad Reza roll no 29 DAA LAB 1.pdf
/AHMAD REZA Roll no 29.pdf
/AHMAD REZA Roll no 29_converted_by_abcdpdf.docx
/Ahmad_1WBW9BQ.jpg
/Ahmed (1).pdf
/Ahmed.pdf
/Akber insurance.pdf
/All India Council for Technical Education.pdf
/amazon-logo.png
/Amplifier.pdf
/Amplifiers (1).pptx
/Amplifiers.pptx
/Anaconda3-2020.11-Windows-x86_64.exe
/Analog electrics circuit Presentation.pptx
/Analog Electronics Circuit.png
/ANAM IMG.jpeg
/ANAM NSP.pdf
/android-studio-2021.2.1.15-windows.exe
/Annexure-Undertaking-BOARDERS30aug2022.pdf
/Answer the following Questions Date.pdf
/Apache-NetBeans-12.4-bin-windows-x64.exe
/Apple.jpg
/application ODE math.pdf
/assignment-1(C.N).docx
/Athadey (Solo) Hindi Dubbed Movie Full Love Story- DulquerSalmaan, Neha Sharma, Dhanshika, Arthi.mp4
/Atri App.html
/Atri App_files
/Average.html
/B.Tech 4th Sem Time Table 2020-21 (1).pdf
/B.Tech 4th Sem Time Table 2020-21.pdf
/B.Tech Sem 5 v1 2021.pdf
/B.Tech-III Sem Time Table .pdf
/B.Tech-V SemesterTime Table (ODD SEM) 2021-22 (1).pdf
/B.Tech-V SemesterTime Table (ODD SEM) 2021-22.pdf
/B8.pdf
/Basic Electronics (1).pdf
/Basic Electronics.pdf
/Basics_of_Electronics_09092016.pdf
/BCHC_2022_1088578.pdf
/BCHC_2022_1088582 (1).pdf
/BCHC_2022_1088582 (2).pdf
/BCHC_2022_1088582.pdf
/Become Keyboard Master With These 20 Useful Computer Keyboard Shortcut Keys.mp4
/Become Master in Coding With These Tips & Improve Computer Programming Skills _ Java, c, c++, python.mp4
/BICCO_2021_3835607 (1).pdf
/BICCO_2021_3835607 (2).pdf
/BICCO_2021_3835607.pdf
/BICCO_2021_5806631.pdf
/BICCO_2022_6907204.pdf
/BIPolar Junction Transistor.pdf
/bipolar-junction-transistors (1).pdf
/bipolar-junction-transistors.pdf
/BJT_Bipolar_Junction_Transistor.pptx
/BlueStacksInstaller_4.220.0.1109_native_e300703896d035e2929326b3ead28695.exe
/Bonafide Ahmad.pdf
/Bonafide.jpeg
/Bonafied 2022.pdf
/Bonafied 2022_compressed.pdf
/Book1.xlsx
/BTCS403PCT.pdf
/BTCS407PCT DM.pdf
/BTCS501PCT (Data Communicatin Computer Network).pdf
/BTCS503PCT (Compiler Design).pdf
/BTCS504PCT (Principles of Programming backlog).pdf
/BTCS505PCT (Microprocessor & Assembly).pdf
/BTCS511HST (Organisational Behaviour).pdf
/BTCS511HST.pdf
/BTCS511NCT (Constitution of India).pdf
/BTCS511NCT.pdf
/BTCS511PCT (Computer Organisation).pdf
/BTCS511PCT.pdf
/BTCS511PET (Principles of Programming).pdf
/BTCS511PET.pdf
/BTCS512HCT (History of S & T).pdf
/BTCS512HST.pdf
/BTCS512PCT (FLAT).pdf
/BTCS512PCT.pdf
/BTCS513PCT & BTCS502 (Design & Analysis).pdf
/BTCS513PCT.pdf
/BTCS711PET (Artificial Intelligence).pdf
/BTech_Revised_Curriculum_wef 2018-2019 (1).pdf
/BTech_Revised_Curriculum_wef 2018-2019.pdf
/BUSD Forsage.pdf
/CamScanner 07-26-2020 16.46.41 (1).pdf
/CamScanner 07-26-2020 16.46.41.pdf
/CamScanner 11-19-2021 11.52.51.pdf
/Career Camp Freshers Aug 16 Training Agreement.pdf
/Cast Certificate.pdf
/CD 2015.pdf
/CD 2018-2.pdf
/CD Lab 1 Ahmad 29 (1).pdf
/CD UNIT2 NOTES.pdf
/certificate (1).pdf
/certificate (2).pdf
/certificate (3).pdf
/Certificate of Completion MD AHMAD REZA (1)-images.zip
/Certificate of Completion MD AHMAD REZA (1).pdf
/Certificate of Completion MD AHMAD REZA (1)_page-0001.jpg
/Certificate of Completion MD AHMAD REZA.pdf
/certificate.pdf
/CG PAPER.pdf
/CG Sample Paper.pdf
/CH.14 (1).pdf
/Chapter 10.ppt
/Chapter 11.ppt
/Chapter 12.ppt
/Chapter 2.ppt
/Chapter 3.ppt
/Chapter 5 (1).ppt
/Chapter 5.ppt
/Chapter 6.ppt
/Chapter 7.ppt
/Chapter 8.ppt
/Chapter 9.ppt
/Character Play (Something's Never Change).pdf
/ChromeSetup (1).exe
/ChromeSetup.exe
/CL 2015.pdf
/cl pdf.pdf
/CL&CS2021.pdf
/CLC SOH.pdf
/Clipper_and_clamper.ppt
/Clocks - Tricks & Shortcuts for Placement tests, Job Interviews & Exams.mp4
/CN ASSIGNMENT2 (1).docx
/CN ASSIGNMENT2.docx
/CN notes for second internal.pdf
/CN NUMERICALS.pdf
/CN_Certificate_87a4db4b0b837f04.pdf
/codeblocks-20.03-setup.exe
/compiler design.pdf
/computer graphics question paper.pdf
/ConfirmationPage-223510213823.pdf
/ConfirmationPage-223510334369 (1).pdf
/ConfirmationPage-223510334369.pdf
/CURRICULAM-VITAI ,(CV)-MD IMRAN.docx
/Cyber awareness speech.pdf
/CYBER CRIMES & PUNISHMENT.pdf
/DAA PAPER2018.pdf
/DAA-LAB(19BTCS031HY).docx
/Data structure set 1.docx
/DBMS LAB INTERNAL EXAM MD ASIF ROLL NO.19BTCS001HY.pdf
/DC Biasing BJT.pdf
/Declaration Bscc.pdf
/desktop.ini
/Dev-Cpp 5.11 TDM-GCC 4.9.2 Setup (1).exe
/Dev-Cpp 5.11 TDM-GCC 4.9.2 Setup.exe
/Dilwar DBMS lab assignment 5-.docx
/DILWAR HOSTEL PAYMENT 2021.pdf
/Diode models.pptx.pdf
/Disbursement Receipt (1).pdf
/Disbursement Receipt.pdf
/Diwakar computer operator.docx
/DM 2019.pdf
/DM PAPAER.pdf
/doc03142820211004154801.pdf
/doc04366720220701202652.pdf
/DocScanner 09-Dec-2021 1.23 am.pdf
/DocScanner 21-Jul-2022 5-58 pm.pdf
/Documents - Shortcut.lnk
/domicile.jpg
/download (1).jpg
/download (1).xls
/download (2).xls
/download (3).xls
/download.jpg
/download.png
/download.xls
/DSA_Placement_Question.pdf
/DSA_placement_questions.pdf
/DST.pdf
/DT20229868163 (1).docx
/DT20229868163 (2).docx
/DT20229868163_Application (1).pdf
/DT20229868163_Application (2).pdf
/DT20229868163_Application (3).pdf
/DT20229868163_Application (4).pdf
/DT20229868163_Application (5).pdf
/DT20229868163_Application.pdf
/DURGA JAVA LECTURE
/ECall Letter RRB.pdf
/ECall Letter.pdf
/eclipse-inst-jre-win64.exe
/Ekta.mp4
/Electronic Devices and Circuit Theory - Robert Boylestad & Louis Nashelsky - 7th Edition.pdf
/Electronics-Tutorial-Good.pdf
/english.essay.pdf
/EWS CTF PIC.jpeg
/EWSCO_2022_453634.pdf
/Exception-1.jpg
/Exception-2.jpg
/Exception-3.jpg
/Experiment 1,2,3 AEC.pdf
/External lab exam.pdf
/External theory exam schedule.pdf
/FakeJobOfferCampaign-Mailer-WithURL.jpg
/Farheen Begum.pptx
/Farheen Sultana Parween.pptx
/fastfood1.jpg
/FEE PAYMENT 6 SEM.pdf
/Fees structure 2022.pdf
/Fees structure 2022_compressed.pdf
/Fees structure.jpeg
/FET, MOSFET.pptx
/FETP3.pdf
/FIELD EFFECT TRANSISTORS.docx
/FinalRoll_ACNo_1PartNo_1.pdf
/FinalRoll_ACNo_64PartNo_145.pdf
/FOODMANIA.ppt
/FOODMANIA.pptm
/FreemakeVideoDownloaderSetup_2585f621-39ca-44c0-da1b-0cce0ed3d067.exe
/Gajni Full Movie _ Aamir Khan Superhit Blockbustr Movie.mp4
/Gargi.mp4
/Gargi1.mp4
/GATE Questions - OS - CPU Scheduling.pdf
/GATE SRTF Assignment.pdf
/GATE-2022_brochure.pdf
/Ghulam Fee Struc.docx
/Ghulam Fee Struc.pdf
/Git-2.35.2-64-bit.exe
/google-classroom-logo (1).svg
/google-classroom-logo (2).svg
/google-classroom-logo.svg
/gp-java-java keywords.pdf
/gulam adhar.pdf
/GULAM IMG.jpeg
/HINDI SIGN.jpeg
/HOSPITAL_MANAGEMENT_SYSTEM_Software_Requ.pdf
/HR Interview Mini Cheat Book_.pdf
/HS&TI Unit 2.pdf
/IBALauncher (1).exe
/IBALauncher.exe
/ideaIC-2022.1.3.exe
/IEW presentation on International Education Opportunities.pptx
/II YEAR_DAA_LAB_MANUAL (1).pdf
/II YEAR_DAA_LAB_MANUAL.pdf
/iic NID.pdf
/image.png
/IMG20201029225511.jpg
/IMG20210517202745.jpg
/IMG20210517202811.jpg
/IMG20210517203242.jpg
/IMG20210517203746.jpg
/imgcc.png
/IMG_20201028_230942.jpg
/IMG_20201028_230942.pdf
/IMG_20201106_203739.jpg
/IMG_20210517_202642.jpg
/IMG_20210704_175726.jpg
/IMG_20220108_203816_1.jpg
/Important Questions and Answers on FET.pdf
/IMPORTANT_MCQ_FET_Field_Effect_Transisto.pdf
/InbuiltHashmap.pdf
/Income Certificate.pdf
/infogloble agr.pdf
/InfosysCertificationExaminationGuidelines (1).pdf
/InfosysCertificationExaminationGuidelines.pdf
/installbackupandsync.exe
/Intelligent Agents ( 19BTCS052HY ).pptx
/Internet Banking Java Project code.rar
/IPR ASSI2.pdf
/IPR notes.pdf
/IPR.pdf
/IST-Skill-Development-Scholarship-Letter.pdf
/IT Workshop Python lab material part1.docx
/J019736164 HS IT.pdf
/Java  installation guide.pdf
/jdk-11.0.10_windows-x64_bin.exe
/Jeopardy (Mindshift 1) (1).pdf
/Jeopardy (Mindshift 1).pdf
/Jeopardy (Public Speaking 1)2.pdf
/Jeopardy (Public Speaking 2).pptx
/JobDescriptions.pdf
/Jolly LLB 2 Full Hindi Movie _ Starting Akshay Kumar,Arshad Warsi, Huma Qureshi Full Hd Movie.mp4
/jyoti.mp4
/K204Y65AdmitCard (1).pdf
/K204Y65AdmitCard.pdf
/K204Y65ApplicationForm (1).pdf
/K204Y65ApplicationForm (2).pdf
/K204Y65ApplicationForm.pdf
/K204Y65PhotoId.pdf
/kaunan.mp4
/Keypad.pdf
/kitchen logo.jpg
/kitchnlogo.webp
/lab manuul os.pdf
/Lab. 1 Md Asif roll no.1.pdf
/LE-01 CD LAB RECORD (1).pdf
/LE-01 CD LAB RECORD.pdf
/Learn C language in 30 Minutes & Start Coding For Beginners in Hindi.mp4
/Learn HTML & CSS in 60 Minutes _ Full Beginners Course Video With Practicals.mp4
/lec13_BJT.ppt
/Lect. 12 BJT Amplifiers (CE).ppt
/Lecture 1.pptx
/lecture1 OpAmpsDiodes.ppt
/Lecture_02_Semiconductor_Diodes.ppt
/Lesson 18.mp4
/Lesson 305 attending interview 2 fea.pptx
/Lesson-304, Attending the Interview-1 FEA.pptx
/LexPrograms CD.doc
/Lex_programs.pdf
/linux26.iso
/List of Activities Odd Sem 2021-22.pdf
/manuu image.jpg
/MANUU Students (School of Technology) Placement Drive (Responses).xlsx
/MANUU un.jpg
/Marksheet 2022 (4).pdf
/Marksheet 2022.pdf
/Marksheet Ahmed.pdf
/Marksheet Ahmed1.pdf
/Marksheet Ahmed_compressed-compressed.pdf
/Mathematical Fundamental of computer science(2015) DM.pdf
/Mathematical Fundamental of computer science(2018) DM.pdf
/MCA CN 2022.pdf
/MD AHMAD IPR 29.pdf
/MD AHMAD REZA 29 IPR.pdf
/MD AHMAD REZA 29 OS LAB RECORD.docx
/MD AHMAD REZA ASSIGNMENT 5.docx
/MD AHMAD REZA CD lab record.docx
/MD AHMAD REZA CD lab record.pdf
/Md Ahmad reza documents for bihar student  credit card.pdf
/MD AHMAD REZA-converted.pdf
/Md Ahmad Reza.pdf
/MD AHMAD REZA.png
/MD's Resume (1).docx
/MD's Resume (1).pdf
/MD's Resume (2).pdf
/MD's Resume (3).pdf
/MD's Resume.pdf
/Memory-part1.ppt
/MicroelectronicCircuits7thEditionbySedraandSmith-1.pdf
/Microelectronics ( 6th Edition by Sedra Smith) ( PDFDrive ).pdf
/Microsoft.png
/MIGRATION SOH.pdf
/Mindshift New 10.pdf
/Mini Project PPT (1).pptx
/Mini Project PPT.pptx
/MINI PROJECT SYNOPSIS.docx
/Minimization of finite automata.pptx
/MinimumArray.pdf
/MINOR PROJECT SYNOPSIS (1).pdf
/moazzam front english.docx
/MorphoSmart USB Driver.zip
/Music - Shortcut.lnk
/MyCode (1).zip
/MyCode.zip
/MzeAllpath.txt
/nausheen questionnaire pre test.pdf
/NEAT Advertisment published on 11.12.2021 (1).pdf
/NEAT Advertisment published on 11.12.2021.pdf
/New Doc 2022-09-26 22.37.34_1.docx
/New Doc 2022-09-26 22.37.34_1.pdf
/Niyamat tiles.pdf
/node-v16.15.0-x64.msi
/node-v18.12.1-x64.msi
/Non Verbal Analogy - Tricks & Shortcuts for Placement tests, Job Interviews & Exams.mp4
/Notice - Provisionally selected students for hostels- 1st LIST.pdf
/Notification-Re-opening of the University in Phased Manner- Phased III.pdf
/NOTIFICATIONO-22.pdf
/npp.7.Installer.exe
/NSP Bonafide(19BTCS029HY) 2020-21.docx
/OB 5.pptx
/OB lecture 1.pptx
/OB lecture 2.pptx
/OB Lecture 3.pptx
/OB Lecture 7.pptx
/OB NOTES.pdf
/OB10.pptx
/OB6.pptx
/OB9.pptx
/Objective Questions on Engineering Mathematics For GATE 2022.pdf
/OBS-Studio-27.1.1-Full-Installer-x86.exe
/OfficeSetup (1).exe
/one.png
/OOPS using Java Md Asif 19BTCS001HY.pdf
/OOPS3 CC.pdf
/OperaSetup (1).exe
/OperaSetup (2).exe
/OperaSetup.exe
/Operating System Lab Manual-2-16.pdf
/Operating system problem.pdf
/operating systems 1st internal (1).pdf
/operating-system-concepts-7-th-edition.pdf
/Oracle10G.exe
/Organizational_Behavior_16th_Edition_by.pdf
/Oscillator.ppt
/PacketTracer-7.3.0-win64-setup.exe
/PanjwaniSoftwares.pdf
/passbook.jpg
/pdfcoffee.com_durgasoft-scjp-core-javapdf-pdf-free.pdf
/pdfcoffee.com_metallurgy-in-ancient-indiapdf-pdf-free.pdf
/Photo.pdf
/PPL ASSIGNMENT.pdf
/PPL.pdf
/Prerna.mp4
/printfactorial.pdf
/PrintSubsequences.pdf
/PROBLEM java.docx
/PROBLEM.java
/Project eSaksham.pdf
/Project-Dissertation June22.pdf
/project1.html
/ProjectFinalReportTemplate.docx
/python-3.11.1-amd64.exe
/ques.docx
/Questions and answers Operational-Amplifiers.pdf
/QYMHDDWB3V.png
/Rat In maze print.pdf
/Recursion3.pdf
/Registration_3267642.pdf
/Rehashing.pdf
/Residence  Ahmad-compressed.pdf
/Residence  Ahmad.pdf
/Residential Certificate_compressed.pdf
/Return keypad.pdf
/Revised Time Table of 2nd Internal-Jan-2022-Online.pdf
/sakir.mp4
/Sample Questions_TuringMinds.pdf
/sana.mp4
/Sanction Letter.pdf
/Scan 07 Apr 22 · 03·04·29.pdf
/SCHOOL COUNSELORS PPT.pptx
/Seating Arrangement - Tricks & Shortcuts for Placement tests, Job Interviews & Exams.mp4
/SecondInternalJun22 (1).pdf
/SecondInternalJun22.pdf
/Sedra_chapter_5.pdf
/Self-declaration 2022.pdf
/SELF_DECLARATION_OF_MINORITY_COMMUNITY_BY_STUDENTS.pdf
/Semiconductors_module_02.pdf
/semiconductortheory-110131052401-phpapp01.pdf
/spurwing-agency-15WTBHO--64-unsplash.jpg
/spyder-2.3.8.win-amd64-py3.4.exe
/Spyder_64bit_full.exe
/Square and triangular wave generator(AEC).docx
/SRS FOR POWER BILLING SYSTEM.pdf
/String Note cc.pdf
/Student ID CARD.jpeg
/studentmap.html
/Sublime Text Build 3211 x64 Setup.exe
/sublime_merge_build_2079_x64_setup.exe
/subsequent-declaration-doc (1).pdf
/subsequent-declaration-doc (2).pdf
/subsequent-declaration-doc.pdf
/Super Esboo.png
/teacher cv.docx
/Test Emailer_TM.docx
/The DUFF full movie 2018   learn English through movies subtitles.mp4
/TIME TABLE 6TH SEMESTER.pdf
/Top 100 JAVA Interview Question & Answers.pdf
/transistorasaswitch.pdf
/transistorconfigurations-141217223803-conversion-gate02-converted.pptx
/Tree notes cc.pdf
/TRIANGLE (2019) Latest Hollywood Dubbed Movie _ New Hollywood Hindi Dubbed Action Movie 2019.mp4
/TRNUM BNF.pdf
/TSF.pdf
/Turbo.C.3.2
/Turbo.C.3.2.zip
/TURBO_C_4.5.zip
/two.png
/TYG1531763.pdf
/Types of Variable.html
/Types of Variable_files
/ubuntu-22.04-desktop-amd64.iso
/UGCS711GET (Intellectual Property Rights).pdf
/Ujjawal gas yojna-converted.pdf
/UnderTAKING  FORM
/Undertaking Scholarship.docx
/unit 3 part 1 memory management.ppt
/unit III part 2 O S.ppt
/Unit-I-1.pdf
/UNIT3 CLCS.docx
/UNIT4 CSCL.docx
/Untitled document.pdf
/Untitled.mp4
/Untitled1.ipynb
/vee.pdf
/video1266392432-qu2taaod-he02fk6i-lxbmo3du_awBq2I5m.mp4
/video1266392432-qu2taaod-he02fk6i_lxBmo3dU.mp4
/video1266392432-qu2taaod_hE02FK6i.mp4
/video1266392432_Qu2TAAOd.mp4
/video1323352608.mp4
/video1759326652_U3iWL9Vn.mp4
/VirtualBox-6.1.34a-150636-Win.exe
/vk1HJ.pdf
/VSCodeUserSetup-x64-1.59.1.exe
/waterjug.pdf
/WavesAudio.MaxxAudioProforDell2019_fh4rh281wavaa!App
/WhatsApp Image 2021-10-10 at 3.04.43 PM.jpeg
/WhatsApp Image 2021-10-10 at 5.06.22 PM.jpeg
/WhatsApp Image 2021-10-11 at 8.48.58 AM.jpeg
/WhatsApp Image 2021-10-15 at 6.49.14 PM.jpeg
/WhatsApp Image 2021-11-06 at 8.12.35 PM.jpeg
/WhatsApp Image 3RDMARK.jpeg
/WhatsApp Image 4THMARK.jpeg
/WhatsApp Image BONAFID.jpeg
/WhatsApp Image fees str.jpeg
/WhatsApp Image pass book.jpeg
/WhatsApp Image self dclrn.jpeg
/WhatsAppSetup (1).exe
/WhatsAppSetup (2).exe
/WhatsAppSetup.exe
/Windows_RD_Service_2.0.1.32 (1).zip
/workshop by rafiq sir.pdf
/www.homeskitchen.in
/www.homeskitchen.in.zip
/zakir fee structure.pdf
/ZERO CROSSING DETECTOR.pptx
/ZoomInstaller (2).exe
/Zoom_cm_fo42anktZ9vvrZo4_m2uUJcD-oh4CN0mhksqlMftxXs4ZteokjhIZ-@BPWzfs7aQtSzAoNU_kde42180ac8ad7096_.exe
/zopener_8a4800ea0a3f43f4bafd7706c1a4e7ee.log